@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased;
  background: #F3F4F6;

}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#bot-screen {
  max-width: 1200px;
  margin: 0 auto;
}
#footer{
    max-width: 1200px;
    margin: 0 auto;
}
